h1 {
	font-size : 1.85em;
}
h2 {
	font-size : 1.7em;
}
h3 {
	font-size : 1.55em;
}
h4 {
	font-size : 1.4em;
}
h5 {
	font-size : 1.25em;
}
h6 {
	font-size : 1.1em;
}
html, body {
	margin :0;
	padding :0;
	height : 100%;
	color : #797979;
}
#wrapper {
	min-height : 100%;
	position :relative;
}
#content {
	padding-top : 70px;
	padding-bottom : 100px;
}
footer {
	background-color : #E7E7E7;
	margin-top : 20px;
	padding-top : 10px;
	padding-bottom : 10px;
	position :absolute;
	bottom :0;
	width : 100%;
	border-top : 1px solid #ddd;
}
article {
	border-bottom : 1px dashed  #ccc;
	margin-bottom : 10px;
	padding-bottom : 5px;
}
.bootstrap-switch,
.btn,
.breadcrumb, 
.panel, 
.alert, 
.form-control, 
.form-control:focus,
.select2-container-multi .select2-choices,
.select2-drop.select2-drop-above,
.select2-drop,
.select2-dropdown-open.select2-drop-above [class^="select2-choice"],
.select2-container-multi .select2-choices .select2-search-choice,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-focused ,
.cke_chrome,
.dropdown-menu{
	border-radius : 0px !important;
	box-shadow : none !important;
}
.form-control:focus,
.select2-container.select2-container-multi.form-control.select2-container-active .select2-choices{
	border-color : #66afe9;
	box-shadow : none;
}

.nav-list .nav-header {
	padding : 8px 15px;
	background-color : #F5F5F5;
	color : #777;
	border : 1px solid #DDD;
}
.panel-default > .panel-heading {
	color : #777;
}
.img-thumbnail {
	border : none;
	border-radius : 0px;
}